body, html {
    margin: 0;
    padding:0;
    font-family: 'Jost', sans-serif !important;
    background-color: #151515 ;
    color: #dadada;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    color: #ddd;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

p {
    
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #afafaf;
    font-family: 'Jost', sans-serif;
}
:root {
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #696969;
    --bg-color: #fff;
    --heading-color: #000c04;
    --border-radius: 10px;
    --border-color: #ddd;
    --border-light: #f0f3f0;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --bg-light: rgba(147, 107, 232, 0.05);
    --iframe-filter: grayscale(0%);
    --widget-bg: #3f3a64;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}

.careHeader {
    background-color: #151515 !important;
}

.careHeader .navbar-brand h1 {
    font-size: 34px !important;
    font-weight: 600 !important;
    color:#189a46 !important;
}

.careHeader .nav-item {
    font-size: 1.2rem !important;
    text-transform: capitalize !important;
    padding: 14px 6px !important;
    font-weight: 400 !important;
   
}



.careCarousel .carousel-item {
    position: relative;
    z-index: 0;
    background: url(../img/banner1.jpg) no-repeat center;
    background-size: cover;    
    
    min-height: calc(100vh - 40px);
   
    display: grid;
    align-items: center;
    padding: 3rem 0;

}
/* 
/* 
.careCarousel .banner1 {
    background: url(../img/banner1.jpg) no-repeat center;
    background-size: cover;
   
}

/* .careCarousel .banner2 {
    background: url(../img/banner2.jpg) no-repeat center;
    z-index: 0;
    background-size: cover;
} 

.careCarousel .banner3 {
    background: url(../img/banner3.jpg) no-repeat center;
  
    background-size: cover;
}

.careCarousel .banner4 {
    background: url(../img/banner4.jpg) no-repeat center;
  
    background-size: cover;
}  */


.careCarousel .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: .6;
}

.careCarousel .carousel-caption {
    bottom: 50% !important;
    transform: translateY(50%);
   
}


.careCarousel .carousel-caption h5 {
    font-size: 66px !important;
    line-height: 76px !important;
    font-weight: 700 !important;
    color: #fff !important;
    text-transform: capitalize !important;
    filter: none !important;
    
    
}

.careCarousel .carousel-caption p {
    color: #fff !important;
    font-weight: 300 1 !important;
    text-transform: capitalize !important;
    line-height: 30px !important;
    opacity: 0.9 !important;
   

}

.careCarousel .carousel-caption .readMore {
    padding: 12px 35px !important;
    font-size: 18px !important;
    line-height: 28px !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    transition: 0.3s ease-in !important;
    border-radius: 10px !important;
    border-color: transparent !important;
    color:  #189A46 !important;
    background-color: #fff !important;


}

.careCarousel .carousel-caption .contactUs {
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 35px;
    background-color: transparent;
    border-radius: 10px;
}

.AboutUs .AboutUs__title {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}

.AboutUs .AboutUs__title .sub-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626 ;
}

.AboutUs .AboutUs__title h2 {
    
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;

}


.AboutUs .AboutUs__title a {

    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid var(--primary-color);
    color: var(--heading-color);
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}
