body, html {
    margin: 0;
    padding:0;
    font-family: 'Jost', sans-serif !important;
    background-color: #151515 ;
    color: #dadada;
    box-sizing: border-box;
}

body img {
    border-radius: 10px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    color: #ddd;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

p {
    
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #afafaf;
    font-family: 'Jost', sans-serif;
}



:root {
  
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #afafaf;
    --bg-color:#151515;
    --heading-color: #ddd;
    --border-color: #333;
    --border-light: #444;
    --nav-color: #fff;
    --bg-light: #222;
    --dropdown-color:#151515;
    --iframe-filter: grayscale(100%);
    --widget-bg: #131617;
    --border-radius: 10px;
  }
  
  [data-theme="light"] {
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #696969;
    --bg-color: #fff;
    --heading-color: #000c04;
    
    --border-color: #ddd;
    --border-light:#f0f3f0;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --bg-light: rgba(147, 107, 232, 0.05);
    --iframe-filter: grayscale(0%);
    --widget-bg: #3f3a64;

  }


  .sub-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: var(--secondary);
}

.hny-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}


ul,li {
    margin: 0;
    padding: 0;
}

a {
    color: #189A46;
    text-decoration: none;
    background-color: transparent;
}

a.read {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid var(--primary-color);
    color: var(--heading-color);
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
} 


:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #189A46;
    --secondary: #f53626;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.careHeader {
    background-color: var(--bg-color);
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
 
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.careHeader.fixed-top {
    top: 40px !important;
    height:80px !important;
}


.careHeader .navbar-brand h1 {
    font-size: 34px !important;
    font-weight: 500 !important;
    color:#189a46 !important;
}

.careHeader .nav-item {
    font-size: 1.2rem !important;
    text-transform: capitalize !important;
    padding: 14px 6px !important;
    font-weight: 400 !important;
   
}

.careHeader .nav-item .active {
    color: var(--primary-color) !important;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary-color) !important;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
}

.navbar-light .navbar-nav .nav-link::before {
    content: '';
    width: 0;
    height: 1px;
    background:rgb(24 146 67);
    position: absolute;
    bottom: 8px;
    left: 8px;
    transition: all 0.4s linear 0s;
    
}

.navbar-light .navbar-nav .nav-link:hover::before {
    content: '';
    width: 80%;
    height: 1px;
    background:rgb(24 146 67);
    position: absolute;
    bottom: 8px;
    left: 8px;
    transition: all 0.4s linear 0s;
    
}

/* .dropdown-toggle::after {
    color: transparent;
} */

/* Carousel */

.careCarousel {
    position: relative;
}

.careCarousel .carousel-item {
  
    /* z-index: 0; */
    /* background: url(../img/banner1.jpg) no-repeat center; */
       
    min-height: calc(100vh - 40px);
    z-index: 0;
    /* display: grid; */
    align-items: center;
    padding: 3rem 0;

}


.careCarousel  .banner1 {
    background: url(../img/banner1.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);

   
}

 .careCarousel .banner2 {
    background: url(../img/banner2.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    min-height: calc(100vh - 40px);
   
   
} 

.careCarousel .banner3 {
    background: url(../img/banner3.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    
}

.careCarousel .banner4 {
    background: url(../img/banner4.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    
}  


.careCarousel .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: .6;
}

 .careCarousel .carousel-caption {
    bottom: 50% !important;
    transform: translateY(50%);
    max-width: 700px;
   
}


.careCarousel .carousel-caption h5 {
    font-size: 66px !important;
    line-height: 76px !important;
    font-weight: 700 !important;
    color: #fff !important;
    text-transform: capitalize !important;
    filter: none !important;
    
    
}

.careCarousel .carousel-caption p {
    color: #fff !important;
    font-weight: 300 1 !important;
    text-transform: capitalize !important;
    line-height: 30px !important;
    opacity: 0.9 !important;
   

}

.careCarousel .carousel-caption .readMore {
    background-color: #fff;
    color: var(--primary-color);


}

.careCarousel .carousel-caption .contactUs {
    border: 2px solid #fff;
    color: #fff;
} 


.careCarousel .carousel-indicators button span {
    width: 10px;
    height: 10px;
    margin: 5px 0px;
    background: #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 25px;
    position: relative;
    opacity: 0.9;
    
}

.careCarousel .carousel-indicators button span:hover {
    background: var(--primary-color);
    width: 30px;
    height: 10px;
    
}

.careCarousel .carousel-indicators button {

    display: inline-block;
     zoom: 1;
     background: transparent;
}


.carousel-indicators [data-bs-target] {


}
/* AboutUs */

/*  */

.AboutUs .AboutUs__title {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}

.AboutUs .AboutUs__title .sub-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626 ;
}

.AboutUs .AboutUs__title h2 {
    
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;

}


.AboutUs .AboutUs__title a {

    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid var(--primary-color);
    color: var(--heading-color);
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
}


.AboutUs .AboutUs__item .icon i {

    
    color: var(--primary-color);
        font-size: 30px;
}

.AboutUs .AboutUs__content {
    
    background-color: var(--bg-light);
   

}


.AboutUs .AboutUs__item {

    padding: 40px 30px;
    transition: all 0.5s ease 0s;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    position: relative;
    margin-bottom: 30px;
    
    
}


.AboutUs .AboutUs__item a {
    text-decoration: none;
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid var(--primary-color);
    color: var(--heading-color);
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize
}

.AboutUs .AboutUs__item:hover {
    background-color: var(--bg-light);
}



.chooseUs .chooseUs_right {
    align-self: center;
}


.chooseUs .chooseUs__right p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24.5px;
    color: var(--font-color);
    margin: 15px 0 35px 0;
}

.chooseUs .chooseUs__right ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--heading-color);
    margin: 15px 0;
    font-weight: 600;
    list-style: none;
}

.chooseUs .chooseUs__right ul li span.fa {
    color: var(--primary-color);
    margin-right: 12px;
    background: var(--bg-light);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
}

.numbers {
    background-color: var(--primary-color);
}

.numbers .stats_info {
    text-align: center;
    padding: 0;
    border-top: none;
    border-bottom: none;
}

.numbers .stats_info .counter {
    font-size:50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom:0;
}

.numbers .stats_info h4 {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}


.ourPlans {
    background: var(--bg-light);

}
.ourPlans .pricing-sec-7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 5% auto;
    margin-top: 0;
    width: 90%;
}

.ourPlans .pricing-gd-left {
    background: var(--bg-color);
    /* padding: 3.5em 2.5em; */
   border-radius: 6px;
   align-self: center;
}

.ourPlans .pricing-7-top {
    text-align: center;

}

.ourPlans .pricing-7-top h6 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.ourPlans .pricing-7-top h4 {
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: var(--primary-color);
}


.ourPlans .pricing-7-top h4  label {
    font-size: 25px;
    vertical-align: text-top;
}

.ourPlans .pricing-7-top h4 span {
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}

.ourPlans .pricing-7-bottom {
    text-align: center;
    padding-top: 1em;
    list-style: none;
}

li {
    list-style: none;
}

.ourPlans .pricing-7-bottom ul.links {
    min-height: 120px;
  
}

.ourPlans .pricing-7-bottom ul.links li {
    list-style: none;
    margin-bottom: 5px;
    color: #304659;

}

.ourPlans .pricing-7-bottom .buy-button {
    margin-top: 2em;
    /* text-align: center; */
}

.btn-style {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
}

.btn-primary {
    color: #fff;
    background-color: #189A46;
    border-color: #189A46;
}

.ourPlans .pricing-gd-left.active {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    z-index: 1;
    margin: 0;
    box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
    border-radius: 6px;
}

.ourPlans .pricing-gd-left.active .pricing-7-top {
    padding: 3em 2.5em 0.5em;
    background: var(--primary-color);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.ourPlans .pricing-gd-left.active .pricing-7-bottom {
    padding: 2em 2.5em 3.5em;
}

.ourPlans .pricing-gd-left h5 {
    font-size: 15px;
    line-height: 20px;
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    border-radius: var(--border-radius)
}


.ourPlans .pricing-gd-left.active  h4 {
    color: #fff;
}

.ourPlans .pricing-gd-left.active h4 span {
    color: #fff;
}


.ourPlans .pric-7-1 .pricing-7 {
    padding: 3.5em 2.5em;
    border-right: 0
}

.ourPlans .pric-7-2 .pricing-7 {
    padding: 3.5em 2.5em;
    border-left:0;
}

.new-block {
    display: grid;
    align-items: center;
    padding: 2rem 0;
}

.new-block .middle-section {
    max-width: 950px;
    margin: 0 auto;
}

.new-block .middle-section .play-view {
    left:0;
    right: 0;
    top: calc(50% - 40px);
}

.new-block .middle-section .video-play-icon {
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    -webkit-animation: ripple 1s linear infinite;
    animation: ripple 1s linear infinite;
}

.new-block .middle-section .video-play-icon:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.new-block .middle-section .video-play-icon span {
    color: var(--primary-color);
}

#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

div#small-dialog iframe {
    width: 100%;
    height: 400px;
    display: block;
}


 /* Testimonials*/
 

 .testimonials {
    background: var(--bg-light);
 }
 .testimonial-width {
    max-width: 1050px;
    margin: auto;
 }

 .carousel-inner {

 }

 .testimonial-width .comment {
    display: block;
    margin-bottom: 60px ;
    padding: 40px 30px;
    position: relative;
    background: var(--bg-color);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border: none;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%)
 }

 .testimonials blockquote {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-bottom: 1.5em;
}

 .testimonial-width .comment blockquote p {
 font-size: 1.2em;
 line-height: 28px;
 color: #afafaf;
}

.testimonial-width .comment blockquote q::before {
    content:"";
    font-size: 50px;
    color: var(--primary-color);
    line-height: .8;
    padding-top: 8px;
    font-weight: 600;
    display: inline-block;
    font-family: "Merriweather", serif;
}

.testimonials .bottom {
    display: flex;
    text-align: center;
}

.testimonials .bottom .bottom-left {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: var(--bg-color);
    border-radius: 50%;
}

.testimonials .bottom .bottom-left img {

    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.testimonials .bottom .bottom-right {


    margin: 0;
    margin-left: 20px;
    text-align: left;

}

.testimonials .bottom .bottom-right h3 {

    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.testimonials .bottom .bottom-right p {
    color: #777;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8;
}



.testimonials .carousel-indicators {
    position: inherit;
    left: 0px;
    right: 0px;
   top: 350px;
    margin-top: 20px;
}


.testimonials .carousel-indicators button {
    display: inline-block;
    zoom: 1;
    background: transparent;
}

.testimonials .carousel-indicators button span {
    width: 10px;
    height: 10px;
    
    background: #d3d3d3;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 25px;
    position: relative;
    margin-top: 40px;
   
}

.carousel-indicators .active span {
    background: var(--primary-color) !important;
    border-radius: 10px !important;
    width: 30px !important;
    height: 10px !important;
} 

.testimonials .carousel-indicators button span:hover {
    background: var(--primary-color);
    width: 30px;
    height: 10px; 
    
}






/* email */

.email .subscribe-wthree-field {
    justify-content: space-between;
}

.email-top .subscribe  {
    max-width: 650px;
}


 form.subcribe-wthree input[type="email"] {
    font-size: 16px;
    color: var(--title-color);
    border-radius: var(--border-radius);
    padding: 0px 20px;
 
    flex-basis: 70%;
    background: #fff; 
    height: 60px; 
     padding-left: 20px;
     padding-right: 20px;
}

.email .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.email  form.subcribe-wthree button   {
    flex-basis: 27%;
}



/* footer */

.footer {
    background-color: #111;
}


.footer h6.footer-title-28 {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer .footer-list-28 ul li  {
    list-style: none;
    margin-bottom: 5px;

}


.footer .footer-list-28 ul li a, .footer .footer-list-28 ul li p {
    font-weight: normal;
    font-size: 16px;
    color:#afafaf;
    line-height: 28px;
    text-decoration: none;
}

.footer ul.social-icons li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}

.footer h6.footer-title-28 {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer .midd-footer {
    background: #111;
    border-top: 1px solid rgba(103, 99, 99, 0.14);
}

.midd-footer .copy-footer {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color:#afafaf;
    margin-bottom: 0;
}

.midd-footer .copy-footer a {
    color: var(--secondary-color);
    opacity: 0.9;
}


/* About page */


.careBreadcrumb {
    margin-top:90px;
    background: url(../img/banner4.jpg) no-repeat center;
    background-size: cover;
    padding: 1em 0;
    position: relative;
    z-index: 1;
}


.careBreadcrumb::before {
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: .6;
}

.careBreadcrumb h2.title {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.careBreadcrumb .breadcrumb-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
}

.breadcrumb-item+.breadcrumb-item::before {
    content:"";
}

.careBreadcrumb .breadcrumb-item .fa-solid {
    font-size: 12px;
}


/* Experience */


.experience .exp-content-left h4 {
    font-size: 22px;
    line-height: 32px;
    opacity: 0.9;
}

/* our history */

.ourHistory .ourHistory-bg {
    background: url(../img/banner2.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    position: relative;
}


.ourHistory .ourHistory-bg::before {
    content: "";
    position: absolute;
    top: 0;
    min-width: 100%;
    background-color: #0c0c0c;
}

.ourHistory .ourHistory-bg .ourHistory-content {
    margin-left: auto;
max-width: 640px;
text-align: left;
}
